<!DOCTYPE html>
{{- "\n<!-- BEGIN layouts/_default/baseof.html -->\n" | safeHTML -}}
{{- printf "<!-- .Kind: %s -->\n" .Kind | safeHTML -}}
{{- printf "<!-- .Type: %s -->\n" .Type | safeHTML -}}
{{- printf "<!-- .Layout: %s -->\n" .Layout | safeHTML -}}
{{- $bundle_type := "n/a" -}}
{{- with .File -}}
{{- if (eq .Path "") -}}
{{- $bundle_type = `n/a (regular "list" page)` -}}
{{- else -}}
{{- if (eq .BaseFileName "_index") -}}
{{- $bundle_type = `branch (found "_index")` -}}
{{- else if (eq .BaseFileName "index") -}}
{{- $bundle_type = `leaf (found "index")` -}}
{{- else -}}
{{- $bundle_type = "n/a (regular page)" -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- printf "<!-- Bundle: %s -->\n" $bundle_type | safeHTML -}}
<html>
    <head>
        <meta charset="utf-8">

        <!--
             Instruct browsers to size the viewport width to the device
             width, with intelligent resolution scaling.

             Browsers can choose to render sites in a resolution larger than
             the screen resolution in order to make them more usable.  Browsers
             then provide UI features that let users easily zoom in and out,
             etc.  This is useful for sites designed without regard for mobile
             or other small screen devices.

             Setting the viewport to the device width tells the browser this
             site is designed to work with narrow width screens.  Setting
             initial-scale=1 turns on a heuristic where the browser scales
             things according to the screen's pixel density.

             https://developer.mozilla.org/en-US/docs/Web/HTML/Viewport_meta_tag
        -->
        <meta name="viewport" content="width=device-width,initial-scale=1" />

        <link rel="stylesheet" href="/css/rfc20.css">

        {{ `<!-- BEGIN block "title" (within the <title> tag, with sane defaults) -->` | safeHTML }}
        <title>
            {{- block "title" . -}}
            {{- if (eq .Kind "home") -}}
            {{- .Site.Title -}}
            {{- else if (eq .Kind "taxonomy") -}}
            {{- printf "%s ‘%s’ ❚ %s" (.Data.Singular | title) .Data.Term .Site.Title -}}
            {{- else -}}
            {{- printf "%s ❚ %s" .Title .Site.Title -}}
            {{- end -}}
            {{- end -}}
        </title>
        {{ `<!-- END block "title" -->` | safeHTML }}

        {{ `<!-- BEGIN block "head" -->` | safeHTML }}
        {{ block "head" . }}{{end}}
        {{ `<!-- END block "head" -->` | safeHTML }}
    </head>
    <body>
      <div class="content-wrapper">
        <header>
          <h1>R Eff See Twenty!!!!</h1>
          <nav>
            <a href="/">{{ .Site.Title }}</a>
            <div>
              [
              {{ with .Site.Taxonomies }}
              {{ $is_first_key := true }}
              {{ range $key,$val := . }}
              {{ with site.GetPage "taxonomy" $key }}
              {{ printf `%s <a href="%s">%s</a>` (cond $is_first_key "" "|") .Permalink .Type | safeHTML }}
              {{ $is_first_key = false }}
              {{ end }}
              {{ end }}
              {{ end }}
              ]
            </div>
          </nav>
          <hr>
        </header>

        {{ `<!-- BEGIN block "top" -->` | safeHTML }}
        {{ block "top" . }}{{ end }}
        {{ `<!-- END block "top" -->` | safeHTML }}

        {{ `<!-- BEGIN block "main" -->` | safeHTML }}
        {{ block "main" . }}{{ end }}
        {{ `<!-- END block "main" -->` | safeHTML }}

        {{ `<!-- BEGIN block "footer" -->` | safeHTML }}
        {{ block "footer" . }}{{ end }}
        {{ `<!-- END block "footer" -->` | safeHTML }}
      </div>
    </body>
</html>
